name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Evaluación de Terminal y Git
      id: evaluacion-de-terminal-y-git
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Evaluación de Terminal y Git
        setup-command: ''
        command: bash .github/classroom/autograding.sh
        timeout: 2
        max-score: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        EVALUACION-DE-TERMINAL-Y-GIT_RESULTS: "${{steps.evaluacion-de-terminal-y-git.outputs.result}}"
      with:
        runners: evaluacion-de-terminal-y-git
